<IfModule mod_rewrite.c>
	RewriteEngine On
	Options +FollowSymLinks -MultiViews

	RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
	RewriteRule ^ %1 [L,NE,R=302]

	RewriteCond %{REQUEST_URI} !^/public/
	RewriteRule (.*) public/$1 [L]
</IfModule>
