<IfModule mod_rewrite.c>
    RewriteEngine On

    # non-www. to www.
    #RewriteCond %{HTTP_HOST} !^www\.
    #RewriteCond %{HTTP_HOST} !^(.*)\.(.*)\. [NC]
    #RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

    # HTTP to HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

    # Remove trailing slashes if not a folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Rewrite to index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
